
*.vsidx
/.vs/ImageRecognition/FileContentIndex/a7613336-b138-4d31-a33f-9345275a8da8.vsidx
/.vs/ImageRecognition/FileContentIndex/b5d5eb2d-2471-4cf7-be9e-266648ed2237.vsidx
/.vs/ImageRecognition/FileContentIndex/84b6b4a8-d47f-43b8-a932-e8d8080bda5c.vsidx
/.vs/slnx.sqlite
*.sqlite-journal
/.vs/ImageRecognition/v17/workspaceFileList.bin
